<footer class="container-fluid footer">
  <div class="row">
    <div class="col-md-4 text-center">
      <div class="footer__item">
        <a class="phone-link" href="tel:+380974129005">+38 (097) 4129005</a>
        <a class="phone-link" href="tel:+380956209990">+38 (095) 6209990</a>
        <a class="phone-link" href="tel:+380615392171">+38 (06153) 92171</a>
        <div class="reservation-link">
          <a class="btn-link" *ngIf="footerItem" [routerLink]="['/reservation']">
            <span>Забронировать</span>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <div class="footer__item">
        <p>71100, УКРАИНА, Бердянск</p>
        <p>ул. Пушкарева, 5, дальняя коса.</p>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <div class="footer__item">
        <p>Социальные сети</p>
        <a class="social-link" target="_blank" href="https://www.instagram.com/violis_otel/" title="Instagram Violis">
          <svg>
            <use xlink:href="assets/symbol-defs.svg#icon-instagram"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</footer>
<!--
Copyright (c) 2017 by Daniel Gonzalez (https://codepen.io/dan10gc/pen/JOomvd)


Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
-->
