//color
$color-main--dark: #000000;
$color-main--light: #ffffff;
$color-main--blue: #0000ff;
$gray: #7d7d7d;
$input-disabled-bg: #c1c1c1;
$color-success: #28a745;
$color-danger: #ff1b1b;
$color-danger--hover: #ffa500;

// font-size
$font-size-monster: 4rem;
$font-size-gigantic: 3.6rem;
$font-size-biggest: 2.6rem;
$font-size-largest: 2rem;
$font-size-large: 1.8rem;
$font-size-base: 1.6rem;
$font-size-small: 1.4rem;
$font-size-smallest: 1.2rem;

// border-width

$border-width: 4px;
