<div class="row tariffs">
  <div class="col-md-6">
    <div class="tariffs__content">
      <h3>Тариф «Друзья»</h3>
      <p>
        При бронировании 3-х и более номеров одновременно на срок от 7 дней, Вы
        получаете доп. бонус -3% скидку на 1 номер. Если положена скидка, помимо
        бонуса, то суммируется скидка +бонус!
      </p>
      <h3>Тариф «Лето на море!»</h3>
      <p>При бронировании номера на длительный период действуют скидки:</p>
      <ul>
        <li>
          <span>
            <svg>
              <use xlink:href="assets/symbol-defs.svg#icon-anchor"></use>
            </svg>
          </span>
          <p>сроком от 14 дней - действует скидка 5%</p>
        </li>
        <li>
          <span>
            <svg>
              <use xlink:href="assets/symbol-defs.svg#icon-anchor"></use>
            </svg>
          </span>
          <p>сроком от 21 дней - действует скидка 10%</p>
        </li>
        <li>
          <span>
            <svg>
              <use xlink:href="assets/symbol-defs.svg#icon-anchor"></use>
            </svg>
          </span>
          <p>сроком от 30 дней - действует скидка 15%</p>
        </li>
      </ul>
      <p>Акция действует с 01.06 по 24.08</p>
      <h4>
        <span class="star-color">
          <svg>
            <use xlink:href="assets/symbol-defs.svg#icon-star-full"></use>
          </svg>
        </span>
        Данные тарифы включают:
      </h4>
      <p>
        Проживание 2-х человек, трех разовое питание по set-меню (1 из 2-х
        основных блюд на выбор), взрослую и детскую анимацию и настольный
        теннис, все налоги и сборы.
      </p>
      <p>
        При размещении дополнительного человека в номере, стоимость доп. места -
        300 грн в сутки, питание для взрослого - 360 грн. в сутки, детское
        питание - 265 грн. в сутки.
      </p>
      <p>Детям до пяти лет питание и проживание БЕСПЛАТНОЕ.</p>
      <p>
        Данная льгота (бесплатное проживание и питание детей до 5 лет) - не
        распространяется на родственников, друзей и т.д. наших отдыхающих.
      </p>
      <h3>
        <span>
          <svg>
            <use xlink:href="assets/symbol-defs.svg#icon-star-full"></use>
          </svg>
        </span>
        В стоимость также включено:
      </h3>
      <p>
        Пользование бассейном, охраняемой стоянкой, благоустроенным пляжем,
        пляжным инвентарем.
      </p>
    </div>
  </div>
  <div class="col-md-6">
    <div class="tariffs__content">
      <h3>Бронирование номера:</h3>
      <p>
        30% от стоимости общего проживания (сумма брони входит в оплату
        проживания).
      </p>
      <h3>При досрочном выезде:</h3>
      <p>
        Сумма возврата за неиспользованные дни проживания выплачивается при
        предварительном уведомлении администрации за 3 суток до даты выезда - за
        вычетом 100% стоимости последних суток проживания.
      </p>
      <h3>Питание:</h3>
      <p>Еда в номерах, кроме фруктов и напитков, категорически запрещена.</p>
      <h3>Аннулирование брони:</h3>
      <p>
        В случае не приезда, сумма брони возвращается, при условии уведомления
        администрации отеля, об отмене брони, за 14 дней до даты заезда.
      </p>
    </div>
  </div>
</div>
