<div class="container margin-top-rooms">
  <div class="row">
    <div class="col-md-8">
      <h3>Номер VIP — Бердянск, отель Виолис</h3>
      <p>
        Very Important Person — эти три слова во всем мире характеризуют не просто гурманов
        отдыха, а лучших критиков, которые издалека видят все, что портит комфорт. Именно для
        ценителей изысканного отдыха и создают номера категории VIP, чтобы не оставить гостям
        шанс увидеть хотя бы минимальный недостаток, продумывая все нюансы.
      </p>
      <p>
        <span class="standard__item">В отеле всего четыре номера VIP</span>, которые расположены
        в отдельных коттеджах, в самом
        тихом и уютном месте на территории отеля. Конечно, каждый номер обладает отдельным
        входом ради удобства, которое к тому же в самом интерьере можно проследить в каждой
        детали. Казалось, здесь все просто на своем месте, но на самом деле над созданием
        гармонии работали лучшие специалисты и дизайнеры, которые знают, что представляет
        собой истинная комфортабельность.
      </p>
      <p>
        Каждый номер на 1 этаже может похвастаться внутренним двориком, где можно уединиться
        как для чтения книги, так и для поцелуев любимого человека подальше от лишних глаз.
        Номера на 2 этаже предложат утром попивать ароматный кофе с круассаном на балконе с
        видом на незабываемое море или провожать солнце за горизонт перед сном.
      </p>
      <p>
        В каждых апартаментах может разместиться <span class="standard__item">до 4 человек.</span>
        Им однозначно будет комфортно,
        ведь площадь каждого номера составляет <span class="standard__item">35 - 40 квадратных
                метров.</span>
      </p>
      <h4>В номере VIP присутствуют:</h4>
      <ul class="room-description">
        <li>
                    <span>
                        <svg>
                            <use xlink:href="assets/symbol-defs.svg#icon-anchor"></use>
                        </svg>
                    </span>
          <p>массивный шкаф для хранения различных вещей;</p>
        </li>
        <li>
                    <span>
                        <svg>
                            <use xlink:href="assets/symbol-defs.svg#icon-anchor"></use>
                        </svg>
                    </span>
          <p>большая спальная кровать для комфортного сна;</p>
        </li>
        <li>
                    <span>
                        <svg>
                            <use xlink:href="assets/symbol-defs.svg#icon-anchor"></use>
                        </svg>
                    </span>
          <p>новейший кондиционер с климат-контролем;</p>
        </li>
        <li>
                    <span>
                        <svg>
                            <use xlink:href="assets/symbol-defs.svg#icon-anchor"></use>
                        </svg>
                    </span>
          <p>
            спутниковое телевидение для всех, кто не может жить без любимых телепередач
            и зарубежных сериалов;
          </p>
        </li>
        <li>
                    <span>
                        <svg>
                            <use xlink:href="assets/symbol-defs.svg#icon-anchor"></use>
                        </svg>
                    </span>
          <p>отличный холодильник, который сохранит любимые блюда свежими;</p>
        </li>
        <li>
                    <span>
                        <svg>
                           <use xlink:href="assets/symbol-defs.svg#icon-anchor"></use>
                        </svg>
                    </span>
          <p>крошечный журнальный столик;</p>
        </li>
        <li>
                    <span>
                        <svg>
                            <use xlink:href="assets/symbol-defs.svg#icon-anchor"></use>
                        </svg>
                    </span>
          <p>горячая и холодная вода — 24 часа в сутки;</p>
        </li>
        <li>
                    <span>
                        <svg>
                            <use xlink:href="assets/symbol-defs.svg#icon-anchor"></use>
                        </svg>
                    </span>
          <p>классическая сушилка для белья;</p>
        </li>
        <li>
                    <span>
                        <svg>
                            <use xlink:href="assets/symbol-defs.svg#icon-anchor"></use>
                        </svg>
                    </span>
          <p>
            просторная душевая (санузел, душевая кабинка, умывальник, сушилка для
            полотенец, туалетные принадлежности).
          </p>
        </li>
      </ul>
    </div>
    <div class="col-md-4">
      <h4 class="price">
        Цена номера в {{getDate() | date:'yyyy'}} г.
        <span>
                        <svg>
                            <use xlink:href="assets/symbol-defs.svg#icon-star-full"></use>
                        </svg>
                    </span>
      </h4>
      <p>В сутки за 2-х взрослых и детей о 5-ти лет, в грн.</p>
      <div class="price-items">
        <p><span>01.05 — 01.06</span><span>1600</span></p>
        <p><span>01.06 — 15.06</span><span>2100</span></p>
        <p><span>15.06 — 24.08</span><span>2900</span></p>
        <p><span>01.06 — 15.06</span><span><span class="days">ПТ-ВС, Праздн.</span>	2200</span></p>
        <p><span>15.06 — 24.08</span><span><span class="days">ПТ-ВС, Праздн.</span>	3000</span></p>
        <p><span>24.08 — 30.09</span><span>2100</span></p>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12">
      <h4 class="photo-collection">Фото номера</h4>
    </div>
    <div class="col-12">
      <app-slider-swiper [slides]="slides"></app-slider-swiper>
    </div>
    <div class="col-12 text-center mt-3">
      <a class="show-rooms" (click)="getDocTitle()" [routerLink]="['/']" fragment="rooms">Посмотреть другие номера</a>
    </div>
    <div class="col-md-8">
      <div class="note">
        <p>
                    <span>
                        <svg>
                            <use xlink:href="assets/symbol-defs.svg#icon-star-full"></use>
                        </svg>
                    </span>
          Администрация отеля оставляет за собой право на изменение цен. Цены на
          забронированные и оплаченные номера не изменяются.
        </p>
      </div>
    </div>
  </div>
  <app-tariffs></app-tariffs>
</div>
