<div class="container-fluid scheme">
  <div class="row">
    <div class="col text-center">
      <h2>Схема территории &laquo;Виолис&raquo;</h2>
      <div class="intro">
        <div class="video">
          <video
            class="video__media"
            src="assets/images/Summer.mp4"
            autoplay
            loop
          ></video>
        </div>
        <div class="content text-center">
          <img src="assets/images/scheme-violis.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
