<div class="container-fluid reservation">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="form">
          <div class="form__caption">
            <img src="assets/images/reservation.png" alt="" />
            <h2>Бронирование номера в Отеле</h2>
          </div>
          <form [formGroup]="form" (ngSubmit)="submit()">
            <div class="form__group">
              <div
                class="validation"
                *ngIf="
                  form.get('name').invalid && form.get('name').touched;
                  else client
                "
              >
                Ваши Фамилия, Имя, Отчество: обязательное поле
              </div>
              <ng-template #client>
                <label for="name">Ваши Фамилия, Имя, Отчество</label>
              </ng-template>
              <input
                class="input"
                id="name"
                name="name"
                type="text"
                formControlName="name"
              />
            </div>
            <div class="form__group">
              <div
                class="validation"
                *ngIf="
                  form.get('phone').invalid && form.get('phone').touched;
                  else phone
                "
              >
                Ваш телефон: обязательное поле
              </div>
              <ng-template #phone>
                <label for="phone">Ваш телефон</label>
              </ng-template>
              <input
                class="input"
                id="phone"
                type="tel"
                formControlName="phone"
                prefix="+"
                [showMaskTyped]="true"
                [mask]="mask"
              />
            </div>
            <div class="form__group">
              <div
                class="validation"
                *ngIf="
                  form.get('email').invalid && form.get('email').touched;
                  else email
                "
              >
                <small *ngIf="form.get('email').errors.required"
                  >Введите Ваш email</small
                >
                <small *ngIf="form.get('email').errors.email"
                  >Введите корректный email</small
                >
              </div>
              <ng-template #email>
                <label for="email">Ваш email</label>
              </ng-template>
              <input
                class="input"
                id="email"
                name="email"
                type="email"
                formControlName="email"
              />
            </div>
            <div formGroupName="rooms" class="form__group rooms">
              <label
                ><input
                  class="input"
                  type="radio"
                  formControlName="room"
                  value="standard"
                />Стандарт</label
              >
              <label
                ><input
                  class="input"
                  type="radio"
                  formControlName="room"
                  value="standard+"
                />Стандарт+</label
              >
              <label
                ><input
                  class="input"
                  type="radio"
                  formControlName="room"
                  value="lux"
                />Люкс</label
              >
              <label
                ><input
                  class="input"
                  type="radio"
                  formControlName="room"
                  value="vip"
                />Vip</label
              >
            </div>
            <div class="form__group additional-information">
              <div class="row">
                <div class="col-md-6">
                  <div class="form__wrapper">
                    <div
                      class="validation"
                      *ngIf="
                        form.get('adult').invalid && form.get('adult').touched;
                        else adult
                      "
                    >
                      Количество взрослых: обязательное поле
                    </div>
                    <ng-template #adult>
                      <label for="adult">Количество взрослых</label>
                    </ng-template>
                    <input
                      class="input"
                      id="adult"
                      type="number"
                      formControlName="adult"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form__wrapper">
                    <div
                      class="validation"
                      *ngIf="
                        form.get('children').invalid &&
                          form.get('children').touched;
                        else children
                      "
                    >
                      Количество детей до 5лет: обязательное поле
                    </div>
                    <ng-template #children>
                      <label for="children">Количество детей до 5лет</label>
                    </ng-template>
                    <input
                      class="input"
                      id="children"
                      type="number"
                      formControlName="children"
                    />
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form__wrapper">
                    <div
                      class="validation"
                      *ngIf="
                        form.get('arrival_date').invalid &&
                          form.get('arrival_date').touched;
                        else arrival_date
                      "
                    >
                      Дата заезда: обязательное поле
                    </div>
                    <ng-template #arrival_date>
                      <label for="arrival_date">Дата заезда</label>
                    </ng-template>
                    <div class="form__input">
                      <input
                        class="input"
                        id="arrival_date"
                        type="text"
                        formControlName="arrival_date"
                        bsDatepicker
                        [bsConfig]="{
                          isAnimated: true,
                          dateInputFormat: 'DD-MM-YYYY',
                          containerClass: 'theme-dark-blue',
                          adaptivePosition: true
                        }"
                      />
                      <span class="icon-calendar">
                        <svg>
                          <use
                            xlink:href="assets/symbol-defs.svg#icon-date"
                          ></use>
                        </svg>
                      </span>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form__wrapper">
                    <div
                      class="validation"
                      *ngIf="
                        form.get('date_departure').invalid &&
                          form.get('date_departure').touched;
                        else date_departure
                      "
                    >
                      Дата выезда: обязательное поле
                    </div>
                    <ng-template #date_departure>
                      <label for="date_departure">Дата выезда</label>
                    </ng-template>

                    <div class="form__input">
                      <input
                        class="input"
                        id="date_departure"
                        type="text"
                        formControlName="date_departure"
                        bsDatepicker
                        [bsConfig]="{
                          isAnimated: true,
                          dateInputFormat: 'DD-MM-YYYY',
                          containerClass: 'theme-dark-blue',
                          adaptivePosition: true
                        }"
                      />
                      <span class="icon-calendar">
                        <svg>
                          <use
                            xlink:href="assets/symbol-defs.svg#icon-date"
                          ></use>
                        </svg>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <label>
                <textarea
                  name="text"
                  rows="5"
                  wrap="soft"
                  placeholder="Примечание"
                  formControlName="message"
                ></textarea>
              </label>
            </div>
            <button class="button" type="submit" [disabled]="form.invalid">
              отправить
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #modal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Спасибо</h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Ваша заявка успешно отправлена! Ожидайте ответа администратора отеля на
    указанные Вами контакты!
  </div>
</ng-template>

<div *ngIf="isLoading | async" class="loader">
  <img src="assets/images/loading.gif" alt="" />
</div>
